<div class="block">
    <div class="block_image">
        <span class="block_image__number">#1</span>
        <img src="../../assets/img/001.png">
    </div>
    <div class="block_desc">
        <strong>{{name}}</strong>
        <span class="information">
            Type
        </span>
        <div class="block_desc__types">
            <div class="type">
                <span class="type_preview grass">
                    G
                </span>
                <span class="type_full">
                    <!-- pokemon.type -->
                    Grass
                </span>
            </div>
            <div class="type">
                <span class="type_preview poision">
                    P
                </span>
                <span class="type_full">
                    Poision 
                </span>
            </div>
        </div>
        <div class="block_desc__stats">
            <div class="stats">
                <span class="information">Attack</span>
                126
            </div>
            <div class="stats">
                <span class="information">Defense</span>
                126
            </div>
        </div>
    </div>
</div>
